# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @Team488/core-robot-maintainers
# Drive team should okay changes to button mappings
src/main/java/competition/operator_interface/OperatorCommandMap.java @kujo27 @anthonytrenh @Team488/core-robot-maintainers

src/main/java/competition/subsystems/elevator/ @junyu101 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/coral_arm/ @AlanYuan99 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/lights/ @AlanYuan99 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/algae_arm/ @Glowdisk @Team488/core-robot-maintainers

src/main/java/competition/subsystems/coral_scorer/ @Glowdisk @AlanYuan99 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/drive/ @Rongrrz @Team488/core-robot-maintainers

src/main/java/competition/auto_programs @anthonytrenh @Team488/core-robot-maintainers
